<ion-content>
  <app-header></app-header>
  <br/>
  <a routerLink="/home" class="goHome">Retour à l'accueil</a>
  <div class="titleContainer">
    <h2 *ngIf="groupLinksList">Groupe de lien : {{groupLinksList[0].name}}</h2>
  </div>
  <div class="groupUpdateContainer">
    <div>
      <h3>Modifier le nom du groupe</h3>
      <input type="text" [(ngModel)]="groupLinksName">
      <button (click)="updateGroupLinksName()">Modifier</button>
    </div>
    <div>
      <h3>Supprimer le groupe</h3>
      <p class="red" *ngIf="errorDelete">Vous ne pouvez pas supprimer un groupe qui contient des liens.
        <br/>Supprimer d'abord tout les liens avant de supprimer le groupe.
      </p>
      <button (click)="deleteGroupLinks()">Supprimer</button>
    </div>
  </div>

  <ul>
    <li *ngFor="let link of linksList; let i = index">
      <a href="{{link.link}}" target="_blank" class="followLink"><img src="/assets/image/link.png" alt="link"></a>
      <input type="text" [(ngModel)]="linksListNgModel[i].name" class="name">
      <input type="text" [(ngModel)]="linksListNgModel[i].link" class="link">
      <div class="buttonContainer">
        <button (click)="updateLink(link.id)">Editer</button>
        <button (click)="deleteLink(link.id)">Supprimer</button>
      </div>
    </li>
  </ul>

  <app-footer></app-footer>
</ion-content>
