<ion-content>
  <app-header></app-header>
  <br />
  <a routerLink="/home">Retour à l'accueil</a>

  <div class="titleContainer">
    Titre :
    <input *ngIf="project" [(ngModel)]="project.title" (ngModelChange)="changeProject()">
  </div>

  <div>
    <div>
      Date debut du project :
      <input *ngIf="project" type="date" [(ngModel)]="project.dateBegin" (ngModelChange)="changeProject()"
        name="dateBegin" id="dateBegin">
    </div>
    <div>
      Date fin du project :
      <input *ngIf="project" type="date" [(ngModel)]="project.dateEnding" (ngModelChange)="changeProject()"
        name="dateEnding" id="dateEnding">
    </div>
  </div>

  <div class="textContainer">
    Description :
    <textarea *ngIf="project" [(ngModel)]="project.description" (ngModelChange)="changeProject()"></textarea>
  </div>

  <div class="deleteProject">
    <button (click)="deleteProject()">Supprimer définitivement cette project</button>
  </div>

  <app-footer></app-footer>
</ion-content>