.content {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 95%;
    min-height: 1000px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 0.5rem;
}

.board {
    margin: 0.5rem 0.5rem;
    width: 24%;
    min-height: 400px;
    height: 100%;
    border: 2px solid red;
    border-radius: 5px;
}